* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
header {
    background-image: url(./img/bg-mobile.png);
    background-size: cover;
    height: 8.375rem;
    display:flex;
    justify-content: center;
    align-items: center;
}