* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

:root{ /*refere-se a tag html*/
    --gray-800: #1e293B;
    --gray-600: #475569;
    --purple: #7c3aed;
}
header {
    background-image: url(./img/bg-mobile.png);
    background-size: cover;
    height: 8.375rem;
    display:flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3.7rem;
}

main{
    padding-inline: 1.5rem;

}

.descricao h1 {
    color: var(--gray--800);
    margin-bottom: 1rem;
    font-size: 1.5625rem;
}

.descricao p {
    font-size: 0.8125rem;
    color: var(--gray-600);
}
.input-box {
    display: flex;
    flex-direction: column;
}

.input-box div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.login label {
    font-size: 0.875rem;
    color: var(--gray-800);
    font-weight: 600;
}
a{
    color: var(--purple);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
}
a:hover{
    text-decoration: underline;
}
/* comentario sim */


