* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    /*refere-se a tag html*/
    --gray-800: #1e293B;
    --gray-600: #475569;
    --purple: #7c3aed;
    --gray400: #94a3b8;
    --gray-200: #e2e8f0 --white:#fff;
}

header {
    background-image: url(./img/bg-mobile.png);
    background-size: cover;
    height: 8.375rem;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3.7rem;
    font-weight: 600;
}

main {
    padding-inline: 1.5rem;

}

.descricao {
    margin-bottom: 2.5rem;
}

.descricao h1 {
    color: var(--gray--800);
    margin-bottom: 1rem;
    font-size: 1.5625rem;
}

.descricao p {
    font-size: 0.8125rem;
    color: var(--gray-600);
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.input-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-box input {
    padding: 1rem 0.75rem;
    border: 1px solid var(--gray-200);
    border-radius: 0.25rem;
    color: var(--gray-800);
}

.login input::placeholder {
    color: var(--gray400);
}

.login input:hover,
.login input:focus {
    outline: 1px solid var(--purple);
}

.login input {
    padding: 1rem 0.75rem;
    border: 1px solid var(--gray-200);
    border-radius: 0.25rem;
    color: var(--gray-800);
}


.login label {
    font-size: 0.875rem;
    color: var(--gray-800);
    font-weight: 600;
}

a {
    color: var(--purple);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
}

.login a:hover {
    text-decoration: underline;
}

.login a {
    color: var(--purple);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
}

.login button {
    margin-top: 1rem;
    padding-block: 1rem;
    width: 100%;
    background: var(--purple);
    border: 0;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);

}

.login>p {
    color: var(--gray-600);
}

.login>p a {
    font-weight: 700;
    font-size: 1rem;
}
.bg-desktop{
    display: none;
}

@media(min-width: 1000px){

    body{
        display: flex;
    }
    header{
        background: none;
        justify-content: flex-start;
        padding-inline: 7rem;
    }
    header img{
        width:10rem;
    }
    main{
        padding-inline: 7rem;
    }
    .conteudo{
        width: 100%;
    }
    .bg-desktop{
        display: block;
        width: 100%;
    }
    
}